{% extends "parent.html" %}

{% block specific_js %}
<script type="text/javascript">
    let scriptSettings = {{ settings | safe }};
</script>
<script src="/js/scriptSettings.js"></script>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-6">Scripts Name :</div>
    <div class="col-md-6" id="script-settings-label-scriptname"></div>
</div>
<div class="row">
    <div class="col-md-6">Scripts Version :</div>
    <div class="col-md-6" id="script-settings-label-scriptversion"></div>
</div>
<div class="row" id="script-settings-field-beta"></div>
<div class="row">
    <div class="col-md-12"><b>List of Beta Testers</b></div>
</div>
<div class="row" id="script-settings-tester-list"></div>
{% endblock %}

