<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>{{ title }}</title>
</head>
<body>
<div class="jumbotron">
    <h1>{{ title }}</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-3">Scripts Name :</div>
        <div class="col-md-3" id="script-settings-label-scriptname"></div>
    </div>
    <div class="row">
        <div class="col-md-3">Scripts Version :</div>
        <div class="col-md-3" id="script-settings-label-scriptversion"></div>
    </div>
    <div class="row" id="script-settings-field-beta"></div>
    <div class="row">
        <div class="col-md-12"><b>List of Beta Testers</b></div>
    </div>
    <div class="row" id="script-settings-tester-list"></div>
    <div class="row">
        <input type="text" width="35" class="col-md-5" placeholder="Hostname ID to add to Beta"></input>
        <button id="settings-btn-add-host-to-beta" class="col-md-2">Add</button>
    </div>
    <script type="text/javascript">
        let scriptSettings = {{ settings|safe }};
    </script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/scriptSettings.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/components/DropDownList.js"></script>
    <script src="/js/components/DataTable.js"></script>
    <script src="/js/components/SettingStatus.js"></script>
    <script src="/js/components/SettingsBetaToggle.js"></script>
    <script src="/js/components/SettingsTesterList.js"></script>

</body>
</html>